/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
    font-size: 14px;
    font-weight: 200;
    transition: 0.5s ease;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 30px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 350px;
    padding-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #eee;
    color: #333;
    transition: all 0.3s;
    box-shadow: inset 1px 0px 20px rgba(51,51,51,0.1);
}

#sidebarCollapse {
    display: none;
}

#sidebar.active {
    margin-left: -350px;
}

#sidebar .sidebar-header {
    padding: 20px 30px;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #333;
    padding: 10px 30px;
}
/* border-bottom: 2px solid #c4c4c4; */
#sidebar ul li a {
    padding: 15px 30px;
    font-size: 1.1em;
    display: block;
    color: #333;
}

#sidebar ul .active-link {
    background: #e3e3e3;
}

#sidebar ul .active-link:after {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    background: #fe1313;
}

#sidebar ul li:after {
    content: '';
    height: 2px;
    width:0;
    display: block;
    background: #fe1313;
    transition: 0.5s ease;
}

#sidebar ul li:hover:after {
    color: #333;
    width: 100%;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #333;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #333 !important;
}

/* USER BLOCK AREA */

.profile-image_header {
    margin-right: 12px;
    width: 42px;   
    height: 42px;
    border-radius: 50%;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 350px);

    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;

}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */



.main--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.item--wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 0;
    justify-items: center;
    align-items: center;
}

.item {
    padding: 10px 0;
    border-bottom: 2px solid #e3e3e3;
}

    .item .title {
        padding: 10px;
    }

.sort--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

.sort-by {
    text-align: left;
}

.sort-by span {
    color: #999;
}

.new-item {
    text-align: right;
}

/* modal */
.close-modal {
    float: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: #fe1313;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}
.close-modal {
    color: #fe1313;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
}

.modal_btn {
    text-align: right;
}

.new-item_image {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #282828;
    border-radius: 5px;
    color: #cecece;
}


/* 
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
} */


/* stock page */
.stock_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: stretch;
    align-items: stretch;
}

.stock-item {
    min-height: 200px;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.1);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.stock-item > div > img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.stock-item:hover {
    box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.1);
    transition: 0.5s ease-in-out;
}

.stock-item_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
}

.stock-item_content {
    padding: 30px;
}

.stock-item_content h6 {
    color: #333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.stock-item_content p {
    color: #333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.stock-item_content > p > small {
    color: #898989;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.stock-item_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    justify-items: center;
    align-items: center;
}

.stock-item_links > a {
    color: #898989;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

@media (max-width: 768px) {
    .stock_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
        justify-items: stretch;
        align-items: stretch;
    }

    .navbar {
        padding: 15px 15px;
    }
    .item--wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 3fr 1fr 1fr 1fr;
        grid-gap: 0;
        justify-items: center;
        align-items: center;
    }
    .modal-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 15px;
        justify-items: center;
        align-items: center;
    }

    .modal_btn button {
        text-align: center;
        width: 100%;
    }

    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 350px);
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebarCollapse {
        display: block;
    }
    .dn_xs {
        display: none;
    }
    .inner {
        padding: 30px;
        max-width: 578px;
    }
}









.pt25px {
    padding-top: 25px;
}






/* main page */
.body-wrap {
    
}

.inner {
    padding: 75px;
    width: 650px;
}

.inner h1 {
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner p {
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.main-section {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 33,3333%;
    height: 100vh;
}

.transport {
    background: no-repeat center/cover url('../img/common/transport.jpg');
    
}

.buy {
    background: no-repeat center/cover url('../img/common/buy.jpg');
    
}

.vendor {
    background: no-repeat center/cover url('../img/common/vendors.jpg');
    
}

.index-head {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
}
.modal-reg-container {
    padding:30px;
}
.al_l {
    text-align: left;
}

.al_r {
    text-align: right;
}

